.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
}

main {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.app-header {
    background-color: #1E88E5;
    align-items: center;
}