.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex: 1 1;
}

.app-header {
    background-color: #1E88E5;
    align-items: center;
    max-height: 8vh;
}